* {
    padding: 0;
    margin: 0;
}
body {
    font-family: arial;
    margin: 0;
}
.poster {
    height: 93vh;
    width: 100%;
    background-image: url("xmas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    z-index: 1;
}
.title {
    z-index: 2;
    font-size: 2em;
    color: lightcoral;
}
main {
    padding: 80px 80px;
}
main p {
    padding: 10px 0px;
}
.slika {
    width: 50%;
    margin: 0 auto;
    background: url("slika.jpg") no-repeat center;
    background-size: cover;
}
.card {
    width: 100%;
    display: flex;
}
.card .text p {
    display: block;
}

@media only screen and (max-width: 500px) {
    .title {
	font-size: 1.5em;
    }
    .card {
	display: initial;
    }
    .slika {
	width: 95%;
	height: 150px;
    }
}
